[submodule "external/glog"]
	path = external/glog
	url = git@github.com:google/glog.git
[submodule "external/grpc"]
	path = external/grpc
	url = git@github.com:grpc/grpc.git
[submodule "external/leveldb"]
	path = external/leveldb
	url = git@github.com:google/leveldb.git
